:root{
    --icon-body-color: #ffffff;
    --text-body-color: #777777;
}

body{
    background-color: #141414;
    margin-left: 5vw;
    overflow-x: hidden;
    position: relative;
}

.logoImg{
    width: 10vw;
}

.nav-link{
    color: var(--icon-body-color);
}

.navbar-right{
    justify-content: end;
    align-items: center;
    color: var(--icon-body-color);
    gap: 1em ;
    font-size: small;
}

.bellIcon{
    width: 25px;
    height: 25px;
    color: var(--icon-body-color);
} 

